<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>

<body>
    <h1>Hello This is from Django</h1>
    <h2>A html template from django</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, repellendus pariatur. In a facilis commodi quo,
        autem totam quibusdam ea, quae exercitationem quos fugit explicabo quia unde nihil eveniet laudantium voluptas
        hic quidem distinctio similique perspiciatis neque corporis ratione reprehenderit. Mollitia nihil perspiciatis
        perferendis assumenda nostrum inventore a esse totam.</p>
</body>

</html>